.pad{
  padding: 10%;
}
.non {
    background: url('C:\Users\Admin\Desktop\ROCKNROLL\Rock-n-roll-1\RNR_menu\SVG\NON.svg');
    height: 10px;
    width: 10px;
    display: block;
}
.card_design{
  width: 18rem;
  border-radius: 50px;
}
.container{
  background-color: #2c2c2c;
}
