@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.pad {
    padding: 10%;
    padding-right: 10%;
}

.card {
    background-color: transparent !important;
}

table.borderless td,table.borderless th{
 border: none !important;
}
 .minpic{
   min-height: 428.28px;
 }

.pad5{
  margin-top: 5%;
}

.table td, .table th{
  border-top: none;
}
.card-body {
    min-height: 124px;
    min-width: 300px;
    background-color: transparent;
}

.card-text {
    position: relative;
    bottom: -10px;
}

.col-sm-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.pointer {
    cursor: pointer;
}
.textw{
  color: white;
}
.texth {
    color: black;
    padding-top: 50px;
    font-size: 50px;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: cursive; */
}

.texthw{
  color: white;
  font-size: 40px;
  padding-top: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

.texth-white {
    color: white;
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

.card_design {
    width: 18rem;
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: cursive; */
    /* border-radius: 10px; */
    font-family: 'Roboto Condensed', sans-serif;
}

.veg {
    /* border-width: 10px; */
    /* background-image: url("../img/veg.jpg"); */
    border-color: #800000;
    background-size: cover;
    background-position-y: -50px;
    box-shadow: 10px 10px 40px 0 white inset, -15px -15px 40px 0 white inset;
}

.non {
    /* border-width: 10px; */
    border-color: #800000;
    box-shadow: 10px 10px 40px 0 white inset, -15px -15px 40px 0 white inset;
}


element.style {
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.border {
    border: 2px;
}


/* aayush */

header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.bgcolhead {
    background-color: #020000;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #141414;
    color: #fff;
}
.nav > .active > a {
  color: aqua;
  background-color: chartreuse;    
}
.nav-item > a:hover {
  color: aqua;
}


.navbar-light .navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 5px 15px;
}
.navbar-light .navbar-toggler {
    
    border: 2px solid #fff;
    
}

.navbar-light .navbar-toggler {
    border: none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}

.navbar-collapse {
    background: #020000;
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

#call {
    font-size: 2em;
    color: white;
}

#order {
    color: orange;
    font-size: 1em;
}


.main-text h5{
font-size: 6vh;
letter-spacing: 2px;
font-weight: bold;
}

.main-text p{
font-size:25px;
letter-spacing: 1px;
}

.main-text
{
    position: absolute;
    top: 50%;
transform: translateY(-50%);
bottom: initial;
    width: 96.66666666666666%;
    color: #FFF;
}

.bg-danger {
    background-color: #e50914!important;
}

.text-danger {
    color: #e50914!important;
}

label{
    background-color: #141414;
}

/* VARUN */

footer {
    background: #141414;
}

.copy {
    margin-top: 20px;
    color: black;
    background-color: #141414;
}

.list {
    list-style: none;
}

.contact:hover {
    color: #4F1111;
    cursor: pointer;
}

.contacts {
    color:#808080;
}

.time {
    color: #808080;
}

.maps {
    height: 295px;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.location {
    color: #808080;
}

body {
    /* font-family: 'Hepta Slab', serif; */
    /* background-color: rgba(255, 236, 179, 1.0);
    */
    /* background-image: url("../img/ambiencefull.jpg") */
}

.button-1 {
    width: 50%;
    height: 46px;
    background-color: #4F1111;
    color: white;
    border: 2px solid #4F1111;
}

.button-1:focus {
    outline: 0;
}

.button-1:hover {
    background-color: black;
    border: 2px solid black;
}

.swiggy {
    height: 50px;
    width: 50px;
}

.partner {
    color: #808080;
}

.button-div {
    width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

#myTabContent {
    color: black;
}

@media only screen and (max-width: 889px) {
    .button-1 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .we {
        padding-left: 28px;
    }
}

@media only screen and (max-width: 576px) {
    .location {
        margin-top: 15px;
    }
    .partner {
        margin-top: 20px;
    }
    .button-1 {
        width: 50%;
    }
    #myTabContent {
        color: white;
    }
}

.pizza,
.sandwich,
.sides,
.burger,
.pasta,
.drinks,
.desserts {
    background-size: cover;
}

.pizza {
    background-image: url("../img/backpizza.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.sandwich {
    background-image: url("../img/backsandwich.jpg");
    background-position: center;
    background-repeat: no-repeat;
}



.sides {
    background-image: url("../img/backsides.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.burger {
   /* background-image: url("../img/backburger.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
}

.pasta {
    background-image: url("../img/backpasta.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.drinks {
    background-image: url("../img/backdrinks.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.desserts {
    background-image: url("../img/backdeserts.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
a.text-light:focus,
a.text-light:hover,
a[aria-expanded="true"] {
background-color:#e50914 !important;
color: white !important;
}
a[aria-expanded="true"]:hover {
    color: white !important;
}
@media only screen and (max-width: 680px) {
  .minpic {
    min-height: 326.28px ;
  }
}

hr.hor-line {
    width:20%;
    border: 1px solid #fff;
    margin-bottom: 0;
}


/*carousel*/
.cardyb {
    background: #E50914;
    border-radius: 5px;
    min-height: 290px;
}
.cardyb p {
    color: #fff;
}
.cardyb a {
    text-decoration: none;
}
.information {
    display: inline-block;
    position: absolute;
    bottom:20px;

}
.information span {
    margin-left: 20px;
}
.icons {
    margin-left: 20px;
}
.introduce:hover .pic {
    transform: scale(1.1);
}
.avatar {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    display: inline-block;
}
.parent {
    overflow:hidden;
    background: #141414;
}
.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}
.main-content {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-content .owl-theme .custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}
.main-content .owl-theme .custom-nav .owl-prev,
.main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}
.main-content .owl-theme .custom-nav .owl-prev i,
.main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
}
.main-content .owl-theme .custom-nav .owl-prev {
    left: 0;
}
.main-content .owl-theme .custom-nav .owl-next {
    right: 0;
}
