header{
    position:absolute;
    z-index: 10;
    width:100%;
}
.bgcolhead{
    background-color: #C00A27
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: #262626;
    color: #fff;

}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #262626;
    padding: 5px 15px; 
}

.navbar-light .navbar-toggler{
border: none;
color: #fff;
border: 2px solid #7f7f7f;
border-radius: 0;
outline: none;
}

.navbar-collapse{
background: #C00A27;
}
.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}