html {
  scroll-behavior: smooth;
}
.m0{
  margin: 0px;
}
.content{
  font-size: 64px;
  padding: 10%;
}
.details{
  padding-left: 5%;
}

.homepad{
  padding-top: 5%;
  font-size: 45px;
}
.font25{
  font-size: 25px;
}

body
{
	background-image: url('https://media.istockphoto.com/photos/dark-wood-texture-background-picture-id874036010?k=6&m=874036010&s=612x612&w=0&h=0fINVtIugEyhxqluq3UmM1e1I5b1-et4K4JEbJxfWFc=');
	background-size: cover;
	background-repeat: no-repeat;
}

.s{
	color: red;
	font-family: 'New Rocker', cursive;

}

u{
	color: white;
}

.t{
	color: red;
	margin-top: -40px;
	font-family: 'New Rocker', cursive;

}

.e{
	color: white;
}
h4{
	color: darkgrey;
}

html{
	scroll-behavior: smooth;
}
