body {
    font-family: 'Satisfy', cursive;
}

.default-color {
    box-shadow: #212529;
    background-color: #c00a27;
    z-index: 10000;
}

a.dropdown-item:hover {
    background-color: #c00a27;
    color: white;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: white;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

.dropdown-item.active,
.dropdown-item:active {
    color: white;
}

.logo {
    height: 180px;
}

#call {
    font-size: 2em;
    color: white;
}


.button-hover-addcart {
    border: 2px solid orange;
    background: transparent;
    color: orange;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.07rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    font-size: 1em;
}

.button-hover-addcart span {
    transition: all 0.2s ease-in-out;
}

.button-hover-addcart .fa {
    position: absolute;
    font-size: 1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    right: -70px;
    transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.button-hover-addcart:hover {
    border-color: white;
    background: transparent;
    transition: border-color 0.2s;
}

.button-hover-addcart:hover span {
    margin-right: 20px;
    color: white;
}

.button-hover-addcart:hover .fa {
    right: 12px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}