footer
{
	background:#891A1F;
}

.copy
{
	margin-top: 20px;
	color: black;
	background-color:#B22222;
}
.list
{
	list-style: none;
	
}

.contact:hover
{
	color:#4F1111;
	cursor: pointer;
}

.contacts
{
	color: white;
}


.time
{
	color: white;
}

.maps
{
	height: 295px;
	width: 100%;
	text-align: center;
	padding: 5px;
}


.location{
	color: white;
}

body
{
	font-family: 'Amatic SC', cursive;
	text-align: justify;
}

.button-1
{

	width: 50%;
	height: 46px;
	background-color: #4F1111;
	color: white;
	border:2px solid #4F1111;
}
.button-1:focus
{outline: 0;
	


}
.button-1:hover
{
	background-color:black;
	border:2px solid black;
}

.swiggy{
	height: 50px;
	width: 50px;
}

.partner
{
	color: white;
}

.button-div
{
width: 100%;

}

@media only screen and (max-width: 889px)
{
	.button-1
	{
		width: 100%;
	}

	
}


@media only screen and (max-width: 576px)
{.location
	{
margin-top:15px;
	}


	.partner
	{
		margin-top:20px;
	}


.button-1
{
	width: 50%;
}
}